/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS MOBILE DEVICES */
*#dm *.d-page-1716942098 DIV.dmInner
{
	background-repeat:no-repeat !important;
	background-size:cover !important;
}
*#dm *.d-page-1716942098 DIV#dmSlideRightNavRight
{
	background-repeat:no-repeat !important;
	background-image:none !important;
	background-size:cover !important;
}
*#dm *.dmBody div.u_1148505010
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1882631123
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
}
*#dm *.dmBody div.u_1473338950
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
	width:auto !important;
}
*#dm *.dmBody div.u_1069906693
{
	margin-left:0 !important;
	padding-top:15px !important;
	padding-left:15px !important;
	padding-bottom:5px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:15px !important;
}
*#dm *.dmBody div.u_1612281026 .dmformsubmit
{
	width:250px !important;
	height:52px !important;
}
*#dm *.dmBody div.u_1612281026 input::placeholder
{
	font-size:14px !important;
}
*#dm *.dmBody div.u_1612281026 input.placeholder
{
	font-size:14px !important;
}
*#dm *.dmBody div.u_1612281026 textarea::placeholder
{
	font-size:14px !important;
}
*#dm *.dmBody div.u_1612281026 textarea.placeholder
{
	font-size:14px !important;
}
*#dm *.dmBody div.u_1612281026 select::placeholder
{
	font-size:14px !important;
}
*#dm *.dmBody div.u_1612281026 select.placeholder
{
	font-size:14px !important;
}
*#dm *.dmBody div.u_1612281026
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:-8px !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1287766423
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:8px !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1985503310
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:5px !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:5px !important;
}
*#dm *.dmBody div.u_1426364912
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:5px !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:5px !important;
}
*#dm *.dmBody div.u_1714631127
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:5px !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:5px !important;
}
*#dm *.dmBody div.u_1656927875
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:8px !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1057564818
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 9px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:94.6875px !important;
	margin-top:8px !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1835575662
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 45px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:223px !important;
	margin-top:-8px !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
}
*#dm *.dmBody *.u_1420926873 .photoGalleryThumbs
{
	padding:4px !important;
}
*#dm *.dmBody *.u_1420926873 .layout-container
{
	padding:4px !important;
}
*#dm *.dmBody *.u_1420926873 .photoGalleryViewAll
{
	padding:0 8px !important;
}
*#dm *.dmBody *.u_1420926873 .photoGalleryThumbs .image-container a
{
	padding-top:24px !important;
}
*#dm *.dmBody div.u_1243667655
{
	margin-left:0 !important;
	padding-top:100px !important;
	padding-left:15px !important;
	padding-bottom:40px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:15px !important;
	margin-right:0 !important;
	width:auto !important;
	background-position:0 50% !important;
	background-repeat:no-repeat !important;
	background-size:cover !important;
}
*#dm *.dmBody div.u_1424855297
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:-8px !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1282989087
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:0 !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1883193935
{
	margin-left:0 !important;
	padding-top:50px !important;
	padding-left:0 !important;
	padding-bottom:50px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
	width:auto !important;
}
*#dm *.dmBody div.u_1186038934
{
	width:70px !important;
	height:70px !important;
}
*#dm *.dmBody div.u_1126335671
{
	width:70px !important;
	height:70px !important;
}
*#dm *.dmBody div.u_1062649105
{
	width:70px !important;
	height:70px !important;
}
*#dm *.dmBody div.u_1096139105
{
	width:70px !important;
	height:70px !important;
}
*#dm *.dmBody div.u_1044964053
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 30px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:283px !important;
	margin-top:8px !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1274999849
{
	margin-left:0 !important;
	padding-top:50px !important;
	padding-left:15px !important;
	padding-bottom:50px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:15px !important;
	width:auto !important;
}
*#dm *.dmBody div.u_1634977017
{
	margin-left:0 !important;
	padding-top:30px !important;
	padding-left:0 !important;
	padding-bottom:30px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
	width:auto !important;
}
*#dm *.dmBody div.u_1912122729
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 30px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:283px !important;
	margin-top:8px !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1703751738
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0 !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1735588791
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	max-width:calc(100% - 0px) !important;
	padding-right:0 !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1048729774
{
	width:100px !important;
	height:100px !important;
}
*#dm *.dmBody div.u_1019544551
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0 !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1338472164
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	max-width:calc(100% - 0px) !important;
	padding-right:0 !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1006078262
{
	width:100px !important;
	height:100px !important;
}
*#dm *.dmBody div.u_1126026175
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 0px) !important;
	margin-top:0 !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1781659386
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	max-width:calc(100% - 0px) !important;
	padding-right:0 !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1899653454
{
	width:100px !important;
	height:100px !important;
}
*#dm *.dmBody div.u_1485423489
{
	margin-left:0 !important;
	padding-top:15px !important;
	padding-left:15px !important;
	padding-bottom:15px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:15px !important;
	width:auto !important;
}
*#dm *.dmBody div.u_1960182158
{
	padding-top:30px !important;
	padding-left:15px !important;
	padding-bottom:15px !important;
	padding-right:15px !important;
	width:auto !important;
	margin-left:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
}
*#dm *.dmBody div.u_1946802400
{
	width:80px !important;
	height:30px !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 122px) !important;
	margin-top:20px !important;
	margin-bottom:10px !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1018954788
{
	width:80px !important;
	height:30px !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:89px !important;
	margin-top:20px !important;
	margin-bottom:10px !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1965132264
{
	width:80px !important;
	height:30px !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 122px) !important;
	margin-top:20px !important;
	margin-bottom:10px !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1251442976
{
	margin-left:0 !important;
	padding-top:50px !important;
	padding-left:15px !important;
	padding-bottom:50px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:15px !important;
	width:auto !important;
}
*#dm *.dmBody div.u_1001247151
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:283px !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	max-width:100% !important;
	padding-right:0 !important;
	min-width:0 !important;
	display:block !important;
	margin-right:auto !important;
	margin-left:auto !important;
	margin-top:8px !important;
	margin-bottom:8px !important;
}
*#dm *.dmBody div.u_1617277931
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:42px !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:start !important;
}
*#dm *.dmBody div.u_1856539312
{
	margin-left:0 !important;
	padding-top:15px !important;
	padding-left:15px !important;
	padding-bottom:50px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:15px !important;
}
*#dm *.dmBody div.u_1517587767
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:283px !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	max-width:100% !important;
	padding-right:0 !important;
	min-width:0 !important;
	display:block !important;
	margin-right:auto !important;
	margin-left:auto !important;
	margin-top:8px !important;
	margin-bottom:8px !important;
}
*#dm *.dmBody div.u_1434843901
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:44px !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:start !important;
}
*#dm *.dmBody div.u_1671943602
{
	margin-left:0 !important;
	padding-top:40px !important;
	padding-left:15px !important;
	padding-bottom:50px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:15px !important;
	width:auto !important;
}
*#dm *.dmBody div.u_1434843901 .readMore a
{
	font-size:14px !important;
}
*#dm *.dmBody div.u_1434843901 .postDescription
{
	font-size:15px !important;
}
*#dm *.dmBody div.u_1434843901 .authorBar
{
	font-size:13px !important;
}
*#dm *.dmBody div.u_1434843901 .postTitle a
{
	font-size:20px !important;
}
*#dm *.dmBody div.u_FAQ
{
	margin-left:0 !important;
	padding-top:50px !important;
	padding-left:15px !important;
	padding-bottom:50px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:15px !important;
	width:auto !important;
}
*#dm *.dmBody div.u_Ourservices
{
	margin-left:0 !important;
	padding-top:50px !important;
	padding-left:0 !important;
	padding-bottom:50px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
	width:auto !important;
}
*#dm *.dmBody div.u_Aboutus
{
	margin-left:0 !important;
	padding-top:50px !important;
	padding-left:15px !important;
	padding-bottom:50px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:15px !important;
	width:auto !important;
}
*#dm *.dmBody div.u_1600966725
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:26px !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1454392012
{
	padding-top:30px !important;
	padding-left:15px !important;
	padding-bottom:15px !important;
	padding-right:15px !important;
	width:auto !important;
	margin-left:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
}
*#dm *.dmBody div.u_1035986965
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:30px !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1641444922
{
	padding-top:30px !important;
	padding-left:15px !important;
	padding-bottom:50px !important;
	padding-right:15px !important;
	width:auto !important;
	margin-left:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
}
*#dm *.dmBody div.u_1302857622
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:28px !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1435389854
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:196px !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:10px !important;
	margin-bottom:10px !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:start !important;
}
*#dm *.dmBody div.u_1426608848
{
	padding-top:20px !important;
	padding-bottom:50px !important;
	margin-left:0 !important;
	padding-left:20px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:20px !important;
	width:auto !important;
}
*#dm *.dmBody div.u_On-SiteSEO
{
	padding-top:30px !important;
	padding-left:15px !important;
	padding-bottom:15px !important;
	padding-right:15px !important;
	width:auto !important;
	margin-left:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
}
*#dm *.dmBody div.u_Off-siteSEO
{
	padding-top:30px !important;
	padding-left:15px !important;
	padding-bottom:15px !important;
	padding-right:15px !important;
	width:auto !important;
	margin-left:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
}
*#dm *.dmBody div.u_GoogleAdscampaign
{
	padding-top:30px !important;
	padding-left:15px !important;
	padding-bottom:50px !important;
	padding-right:15px !important;
	width:auto !important;
	margin-left:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
}
*#dm *.dmBody div.u_GoogleAnalytics
{
	margin-left:0 !important;
	padding-top:15px !important;
	padding-left:15px !important;
	padding-bottom:15px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:15px !important;
	width:auto !important;
}
*#dm *.dmBody div.u_1811237243
{
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
}
*#dm *.dmBody div.u_1321436929
{
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
}
*#dm *.dmBody div.u_1011548714
{
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
}
*#dm *.dmBody a.u_1996333288
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1506185864
{
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
}
*#dm *.dmBody div.u_1617277931 .accordion-title
{
	font-size:15px !important;
}
*#dm *.dmBody div.u_1617277931 .title-text
{
	font-size:15px !important;
}
*#dm *.dmBody div.u_1617277931 .title-text *
{
	font-size:15px !important;
}
*#dm *.dmBody div.u_1617277931 .accordion-description .section-inner
{
	font-size:15px !important;
}
*#dm *.dmBody div.u_1420926873
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:0px !important;
	margin-left:0px !important;
	max-width:100% !important;
	margin-top:0px !important;
	margin-bottom:30px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1409202143
{
	margin-left:0px !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-top:30px !important;
	margin-bottom:8px !important;
	margin-right:0px !important;
	padding-right:0px !important;
}
*#dm *.dmBody a.u_1018677830
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:263px !important;
	position:relative !important;
	height:51px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:10px !important;
	margin-bottom:10px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
}
*#dm *.dmBody a.u_1978089122
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:263px !important;
	position:relative !important;
	height:51px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:10px !important;
	margin-bottom:10px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
}
*#dm *.dmBody a.u_1430459480
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:263px !important;
	position:relative !important;
	height:51px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:10px !important;
	margin-bottom:10px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
}
*#dm *.dmBody a.u_1950647868
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:263px !important;
	position:relative !important;
	height:51px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:10px !important;
	margin-bottom:10px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
}
